.articleBox {
    background: #23ffe024;
    padding: 20px 60px;
    border-radius: 37px;
    overflow: hidden;
}

#name {
    font-style: italic;
    text-decoration: underline;
}

.articleBox-header {
    text-align: center;
}

.articleBox-paragraph {
  margin: 0 0 20px 0;
}
.articleBox-list {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #333;
}

.articleBox-list_title {
  flex-basis: 20%;
  padding: 2px 4px;
  background: #333;
  text-align: right;
  color: #fff;
}
.articleBox-img {
  margin: 0 50px 0 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleBox-img img{
    border-radius: 50%;
}

.articleBox-list_title + dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #333;
  background-color: #fff;
}

.articleBox-list_title--inverse {
  background: #fff;
  text-align: right;
  color: #333;
}

.articleBox-list_title--inverse + dd{
  background: #333;
  color: #fff;
}

.articleBox footer {
    padding-right: 0;
}

@media only screen and (max-width: 600px) {
    .articleBox-img {
      float: none;
      margin: 22px auto;

    }

    .articleBox-img img{
        border-radius: 50%;
        height: 16%;
        max-width: 100%;
    }

    .articleBox {
        padding: 20px 17px;
    }

}